<section class="item sidenav">
    <ul>
        <li><a asp-page="/Orders/List">Orders</a></li>
        <li><a asp-page="/OrderTypes/List">Types</a></li>
        <li><a href="#">Statistic</a></li>
        <li><a href="#">History</a></li>
    </ul>
</section>