@page "/orders/add"
@model CreateOrderModel
@{
    ViewData["Title"] = "Add order";
}

<h1>Details</h1>

<form method="post">
    <label asp-for="Order.CustomerName">Customer name</label>
    <input asp-for="Order.CustomerName" type="text" required/>
    <label asp-for="Order.Quantity">Quantity</label>
    <input asp-for="Order.Quantity" type="number" required />
    <label asp-for="Order.Rate">Rate</label>
    <input asp-for="Order.Rate" type="number" required />
    <button type="submit" asp-route-id="@Model.OrderTypeId">Add</button>
</form>