@page "/orders/edit/{id}"
@model OrderEditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">
    <label asp-for="Order.CustomerName">Customer name</label>
    <input asp-for="Order.CustomerName" type="text" required />
    <label asp-for="Order.Amount">Quantity</label>
    <input asp-for="Order.Amount" type="number" required />
    <label asp-for="Order.UnitPrice">Rate</label>
    <input asp-for="Order.UnitPrice" type="number" required />
    <input asp-for="Order.Id" type="hidden" />
    <input asp-for="Order.TypeId" type="hidden"/>
    <button type="submit">Edit</button>
</form>